<header>
    <nav>
        <a href="/">MyBRARY</a>
        <ul>
            <li>
                <a href="/authors">AUTHORS</a></li>
                <li><a href="/authors/new"> ADD AUTHOR</a></li>
            
        </ul>


    </nav>


</header>