<h2>SEARCH AUTHORS</h2>
<form action= "/authors" method = "GET">
    <label>NAME</label>
    <input type="text" name="name" value="<%= searchOptions.name %>">
    <button type="submit">SEARCH</button>
</form>
<br>
<% authors.forEach(author =>{ %>
    <div><%= author.name %> </div>
<%}) %> 

